
<div class="container">
  <div class="manager-header">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">File Manager</li>
      </ol>
      <h6 class="slim-pagetitle">File Manager</h6>
    </div><!-- slim-pageheader -->
    <a id="managerNavicon"  href="" class="contact-navicon"><i class="icon ion-navicon-round"></i></a>
  </div><!-- manager-header -->

  <div class="row">
    <div *ngIf="loaded" class="col-lg-12">
<!--      <label class="section-label">Today</label>-->
      <div class="file-group">
        <div class="file-item" *ngFor="let file of files">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="{{getFileIconClass(file)}}"></i>
              <a href="">{{file.name}}</a>
            </div><!-- col-6 -->
            <div class="col-3 col-sm-2 tx-right tx-sm-left"> {{file.type !== 'folder' ? file.size + 'kb' : ''}}</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">{{getCreatedAtHuman(file)}}</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0">

              <div class="dropdown dropdown-item-1">
                <a data-toggle="dropdown" href="">
                  <i class="icon ion-more">

                  </i>
                </a>

                <div class="dropdown-menu wd-200 pd-5">
                  <nav class="nav dropdown-nav">
                    <a href="" class="nav-link"><i class="icon ion-ios-eye"></i>Open</a>
                    <a href="" class="nav-link"><i class="icon ion-ios-download"></i>Download</a>
                    <a href="" class="nav-link"><i class="icon ion-android-exit"></i> Move</a>
                    <a href="" class="nav-link"><i class="icon ion-edit"></i>Rename</a>
                    <a href="" class="nav-link"><i class="icon ion-archive"></i>Archive</a>
                    <a href="" class="nav-link"><i class="icon ion-ios-trash"></i>Delete</a>
                  </nav>
                </div><!-- dropdown-menu -->
              </div><!-- dropdown -->


            </div>
          </div><!-- row -->
        </div><!-- file-item -->
      </div><!-- file-group -->

      <!--<label class="section-label mg-t-25">Yesterday</label>
      <div class="file-group">
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-video-o"></i>
              <a href="">VID_12122017.jpg</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">2.2mb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 22, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-pdf-o"></i>
              <a href="">Instructions.pdf</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">42kb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 22, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-pdf-o"></i>
              <a href="">Documentation.pdf</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">61kb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 22, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-sound-o"></i>
              <a href="">Welcome.mp3</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">1.2mb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 22, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
      </div>&lt;!&ndash; file-group &ndash;&gt;

      <label class="section-label mg-t-25">December 21, 2017</label>
      <div class="file-group">
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-video-o"></i>
              <a href="">VID_12122017.jpg</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">2.2mb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 21, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-pdf-o"></i>
              <a href="">Instructions.pdf</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">42kb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 21, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-pdf-o"></i>
              <a href="">Documentation.pdf</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">61kb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 21, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
        <div class="file-item">
          <div class="row no-gutters wd-100p">
            <div class="col-9 col-sm-5 d-flex align-items-center">
              <i class="fa fa-file-sound-o"></i>
              <a href="">Welcome.mp3</a>
            </div>&lt;!&ndash; col-6 &ndash;&gt;
            <div class="col-3 col-sm-2 tx-right tx-sm-left">1.2mb</div>
            <div class="col-6 col-sm-4 mg-t-5 mg-sm-t-0">Dec 21, 2017</div>
            <div class="col-6 col-sm-1 tx-right mg-t-5 mg-sm-t-0"><a href=""><i class="icon ion-more"></i></a></div>
          </div>&lt;!&ndash; row &ndash;&gt;
        </div>&lt;!&ndash; file-item &ndash;&gt;
      </div>&lt;!&ndash; file-group &ndash;&gt;-->

      <div class="load-more-wrapper mg-t-25">
        <a href="">Load more</a>
      </div><!-- load-more-wrapper -->
    </div>
  </div>

</div><!-- container -->
