<div class="slim-sidebar">
  <div class="sidebar-new-file">
    <div class="dropdown dropdown-demo">
      <a class="btn btn-primary btn-new-file dropdown-toggle shadow" data-toggle="dropdown" href="#">
        <span>New</span>
      </a>
      <div class="dropdown-menu wd-200 pd-5">
        <nav class="nav dropdown-nav">
          <a data-toggle="modal" data-target="#modalNewFolder"  href="#" class="nav-link"><i class="icon ion-ios-plus"></i>Folder</a>
          <a (click)="$event.preventDefault(); selectFile('upload-folder-input')" href="#" class="nav-link"><i class="icon ion-ios-folder"></i> Import a folder</a>
          <a (click)="$event.preventDefault(); selectFile('upload-file-input')" href="#" class="nav-link"><i class="icon ion-ios-download"></i>Import a file</a>
        </nav>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div>

  <ul class="nav nav-sidebar">

    <li class="sidebar-nav-item">
      <a routerLinkActive="active" routerLink="/app" class="sidebar-nav-link"><i class="icon ion-ios-home-outline"></i> Home</a>
    </li>
    <li class="sidebar-nav-item with-sub">
      <a href="" class="sidebar-nav-link"><i class="icon ion-ios-time-outline"></i> Recent elements</a>
      <ul class="nav sidebar-nav-sub">
        <li class="nav-sub-item"><a href="index.html" class="nav-sub-link">Recent folders</a></li>
        <li class="nav-sub-item"><a href="index2.html" class="nav-sub-link">Recent files</a></li>
        <li class="nav-sub-item"><a href="index3.html" class="nav-sub-link">Recent images</a></li>
        <li class="nav-sub-item"><a href="index4.html" class="nav-sub-link">Recent videos</a></li>
        <li class="nav-sub-item"><a href="index5.html" class="nav-sub-link">Recent musics</a></li>
        <li class="nav-sub-item"><a href="index5.html" class="nav-sub-link">Recent documents</a></li>
      </ul>
    </li>
    <li class="sidebar-nav-item">
      <a href="widgets.html" class="sidebar-nav-link"><i class="icon ion-images ion-ios-images-outline"></i> Images</a>
    </li>

    <li class="sidebar-nav-item">
      <a href="widgets.html" class="sidebar-nav-link"><i class="icon ion-ios-folder-outline"></i> Folders</a>
    </li>

    <li class="sidebar-nav-item with-sub">
      <a href="" class="sidebar-nav-link"><i class="icon ion-archive"></i> Archives</a>
      <ul class="nav sidebar-nav-sub">
        <li class="nav-sub-item"><a href="index.html" class="nav-sub-link">All archives</a></li>
        <li class="nav-sub-item"><a href="index3.html" class="nav-sub-link">Images</a></li>
        <li class="nav-sub-item"><a href="index4.html" class="nav-sub-link">Videos</a></li>
        <li class="nav-sub-item"><a href="index5.html" class="nav-sub-link">Musics</a></li>
        <li class="nav-sub-item"><a href="index5.html" class="nav-sub-link">Documents</a></li>
      </ul>
    </li>

    <li class="sidebar-nav-item">
      <a href="widgets.html" class="sidebar-nav-link"><i class="icon ion-ios-trash-outline"></i> Trash</a>
    </li>
  </ul>
</div><!-- slim-sidebar -->
